<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Add required permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    
    <!-- Add specific queries -->
    <queries>
        <!-- Add specific package visibility queries here based on your app's needs -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LandRenting"
        tools:targetApi="31">
        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".home.Home"
            android:exported="true" />
        <activity
            android:name=".Welcome"
            android:exported="true" />
        <activity
            android:name=".auth.NumberLogin"
            android:exported="true" />
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".SplachScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".auth.MainActivity"
            android:exported="true" />
        <activity
            android:name=".LandDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.LandRenting" />
    </application>
</manifest>